7_n8n/11_Max_Requests_Sending_IPs.json
{
  "name": "11_Max_Requests_Sending_IPs",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -16
      ],
      "id": "5514544f-f066-4b5f-8018-c6efae9a017b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/access_log.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -288,
        -16
      ],
      "id": "65b616ee-4484-4833-a93b-a40959198653",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert these Apache log lines into JSON format with columns:\n\nip,timestamp,method,path,protocol,status,size\n\nLogs:\n{{ $json.data }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a strict Apache log parser.\n\nRules:\n- Output only JSON data.\n- Do not add explanations.\n- Do not add headings.\n- Do not add quotes or markdown.\n- Do not add any extra JSON keys/values.\n- If a field is missing, leave it empty."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        -16
      ],
      "id": "51328dfa-4253-4669-bde8-7d1eb90fb5ab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -80,
        -16
      ],
      "id": "47f3ce49-a950-4a7f-8c5a-abdac261a006",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        -16
      ],
      "id": "2782b382-d18f-4633-820b-20d6a47ce99e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        176,
        192
      ],
      "id": "3cea2bae-b170-4f6f-a9e0-4bc12c0738b7"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        384,
        160
      ],
      "id": "0e2a7777-deb2-406a-b09c-deedb4a81f50",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GeI7Virag7d1KfMW",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"ip\": \"string\",\n    \"timestamp\": \"string\",\n    \"method\": \"string\",\n    \"path\": \"string\",\n    \"protocol\": \"string\",\n    \"status\": \"string\",\n    \"size\": \"string\"\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        192
      ],
      "id": "a0096e3a-daab-428a-87f3-829feb9a9def",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00bd83e1-2407-478f-a442-976b09cce74e",
              "name": "output",
              "value": "={{ $json.output.map(item => item.ip) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -16
      ],
      "id": "bb804432-4e6c-411b-840f-649361c35824",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "Read the list of IP addresses. For each unique IP address, give the output in exactly the following format:\n\nIP address: Count\n\nOnly filter data where Count >= 3.\n\nDo not give any other output/comments/text/headings."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        -16
      ],
      "id": "29aba64c-ec71-4fe2-9281-b66a714f8614",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        928,
        192
      ],
      "id": "47e75d30-2558-4c75-bbd0-87f5818786af",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "L2MjPCU3APXKl0Qu",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f2b3e33d-7c47-4ec6-a11b-1952a6307ebb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "553512e943ba7f04a9be8c6564bdf53e99760923ce4f54ddfd89c7039f74c3d7"
  },
  "id": "FhOaF1xm-mqQ3iCj1Sxt7",
  "tags": []
}